<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.douychi.douychiApp"
    version   = "1.0.0">

<name>madads</name>

    <description>
        Modonna University, Nigeria advertising application.
    </description>

    <author href="http://codekago.com" email="info@codekago.com">
        Codekago Interactive
    </author>

<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

<icon src="icons/bb/icon.png" gap:platform="blackberry" />
<icon src="icons/bb/icon_hover.png" gap:platform="blackberry" gap:state="hover"/>

<icon src="icons/winphone/icon.png" gap:platform="winphone" />
<icon src="icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />



<gap:splash src="splash/android/ldpi.jpg" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash/android/mdpi.jpg" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/android/hdpi.jpg" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash/android/xhdpi.jpg" gap:platform="android" gap:density="xhdpi" />

<gap:splash src="splash/bb/splash.jpg" gap:platform="blackberry" />

<gap:splash src="splash/winphone/splash.jpg" gap:platform="winphone" />





<preference name="android-installLocation" value="preferExternal" />
 <preference name="orientation" value="portrait" />
<preference name="splash-screen-duration" value="5000" />





<plugin name="Camera" value="org.apache.cordova.CameraLauncher" />
<feature name="http://api.phonegap.com/1.0/camera" />
<feature name="http://api.phonegap.com/1.0/file" />
<feature name="http://api.phonegap.com/1.0/media" />
<feature name="http://api.phonegap.com/1.0/network" />
<feature name="http://api.phonegap.com/1.0/device" />

</widget>
